.btn-gre{
    font-size: 18px;
    border: 1px solid #fd0365;
    color: #fd0365;
    padding: 2% 5%;
    border-radius:5px;
   
    position: relative;

    &:before{
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: white;
        transform-origin:left;
        transition:width 0.25s ease;
        z-index:-1;
    }
    &:hover{
        // background-color:red;
        // background-position: 0 0;
        color: #333;
        &:before{
            width: 100%;
           
        }
    }
}