.holocard{
    position: relative;
    background-color:#c8c8c8;
    padding:15px;
    .holocard-container{ 
           position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 630px;
        width: 100%;
        white-space:nowrap;
        z-index: 2;}
    .tile-container{
        width:25% ;
        
        text-align: center;   
        display: inline-block; 

        max-height: 630px;
        overflow: hidden;
        color:white;
        .tile{ border-radius: 15px;  padding: 20px;}
        .list{ text-align: left;
            li{    list-style: none;            }
        }
        .mobile-development{background-color:#8daad4;}
    }
    .clone{
        moz-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);
        opacity: 0.6;
        margin-top:2px;
    }
    .holacard-partial-container{
        position: absolute;
        height: 79% ;left:0;
        top:0;
        width:100%;
        background-color:#e7e5e6;
        z-index: 1;
    }
}

