.holocard{
    position: relative;
    background-color:#c8c8c8;
    padding:0 15px 60px 15px;
    .mid-container{
        position: relative;
        z-index: 2;
    }
    .tile-container{
        text-align: center;   
        max-height: 630px;
        overflow: hidden;
        color:white;
        .tile{ border-radius: 15px;  padding: 20px;
            max-width:314px;
          
            margin: auto;
        .heading{font-size:28px;
            margin-top: 15px;
            margin-bottom: 15px;}
        .list{padding:0;}
        }
        .list{ text-align: left;
            li{    list-style: none;          font-size: 18px;   }
        }
        .mobile-development{background-color:#8daad4;}
        .cop{background-color:#f69792;img{display: block;
            margin: 55px auto;}}
        .wd{background-color:#b498d1;
        img{display: block;
            margin: 26px auto;
        }}
        .sd{background-color:#83e1d2;
        img{    display: block;
            margin: 30px auto;}}
    }
    .clone{
        moz-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);
        opacity: 0.6;
        margin-top:2px;
        position: relative;
        &::before{
            content:'';
            position: absolute;            
            bottom: 11%;
            width: 100%;
            height: 25%;           
            left: 0;
            opacity: 0.1;
            background-color: white;
            
        }
    }
   
    .holacard-partial-container{
        position: absolute;
        height: 70% ;left:0;
        top:0;
        width:100%;
        background-color:#e7e5e6;
    }
   
    article{
        h2{padding:60px 15px;}
    }
}

