
@import url('https://fonts.googleapis.com/css?family=Roboto');
.mid-container{
    max-width: 1170px;   
    margin:auto;
    padding-left:15px;
    padding-right:15px;
}
*{
    font-family: 'Roboto', sans-serif;
}