/*********************
  Mixins
**********************/
/*opacity*/
/*opacity*/
/*=========================== media query mixin=================*/
/*=========================== media query mixin =================*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
.mid-container {
  max-width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

* {
  font-family: 'Roboto', sans-serif; }

.btn-gre {
  font-size: 18px;
  border: 1px solid #fd0365;
  color: #fd0365;
  padding: 2% 5%;
  border-radius: 5px;
  position: relative; }
  .btn-gre:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform-origin: left;
    transition: width 0.25s ease;
    z-index: -1; }
  .btn-gre:hover {
    color: #333; }
    .btn-gre:hover:before {
      width: 100%; }

.main-container header .navbar-nav .nav-link {
  color: white;
  font-size: 14px; }
.main-container header .navbar-nav .nav-link:hover {
  color: #fd0365; }
.main-container header .fixed-top {
  padding-top: 20px; }
@media (max-width: 450px) {
  .main-container header .navbar-brand {
    margin: 0;
    padding: 0;
    width: 80%; }
    .main-container header .navbar-brand img {
      max-width: 75%; } }

.keyboard-container {
  min-height: 100vh;
  background: #200d69;
  background: -moz-linear-gradient(left, #200d69 0%, #200d69 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #200d69), color-stop(100%, #200d69));
  background: -webkit-linear-gradient(left, #200d69 0%, #200d69 100%);
  background: -o-linear-gradient(left, #200d69 0%, #200d69 100%);
  background: -ms-linear-gradient(left, #200d69 0%, #200d69 100%);
  background: linear-gradient(to right, #200d69 0%, #200d69 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200d69', endColorstr='#200d69', GradientType=1 );
  padding-top: 160px;
  padding-bottom: 60px; }
  @media (max-width: 767px) {
    .keyboard-container {
      padding-top: 100px; } }
  .keyboard-container svg {
    display: block;
    position: relative;
    z-index: 1; }
  .keyboard-container g:hover, .keyboard-container .fillPath {
    cursor: pointer; }
    .keyboard-container g:hover path, .keyboard-container .fillPath path {
      fill: #fd0365; }
    .keyboard-container g:hover text, .keyboard-container .fillPath text {
      fill: white; }
  .keyboard-container g {
    display: block;
    position: relative;
    z-index: 2; }
    .keyboard-container g path {
      display: block;
      fill: transparent;
      shape-rendering: crispEdges;
      transition: fill 0.9s ease; }
  .keyboard-container article {
    max-width: 790px;
    margin: auto;
    padding: 15px 15px 0;
    text-align: center; }
    .keyboard-container article .heading {
      color: #ff0366;
      font-size: 48px;
      padding: 15px 15px;
      margin: 0; }
      @media (max-width: 550px) {
        .keyboard-container article .heading {
          font-size: 24px; } }
    .keyboard-container article .para {
      color: white;
      font-size: 22px; }
      @media (max-width: 767px) {
        .keyboard-container article .para {
          font-size: 18px; } }
    .keyboard-container article .btn-gre {
      display: inline-block;
      margin-top: 15px;
      text-transform: uppercase; }
  .keyboard-container .keyboard-holder {
    margin: auto;
    max-width: 1030px; }

.holocard {
  position: relative;
  background-color: #c8c8c8;
  padding: 0 15px 60px 15px; }
  .holocard .mid-container {
    position: relative;
    z-index: 2; }
  .holocard .tile-container {
    text-align: center;
    max-height: 630px;
    overflow: hidden;
    color: white; }
    .holocard .tile-container .tile {
      border-radius: 15px;
      padding: 20px;
      max-width: 314px;
      margin: auto; }
      .holocard .tile-container .tile .heading {
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 15px; }
      .holocard .tile-container .tile .list {
        padding: 0; }
    .holocard .tile-container .list {
      text-align: left; }
      .holocard .tile-container .list li {
        list-style: none;
        font-size: 18px; }
    .holocard .tile-container .mobile-development {
      background-color: #8daad4; }
    .holocard .tile-container .cop {
      background-color: #f69792; }
      .holocard .tile-container .cop img {
        display: block;
        margin: 55px auto; }
    .holocard .tile-container .wd {
      background-color: #b498d1; }
      .holocard .tile-container .wd img {
        display: block;
        margin: 26px auto; }
    .holocard .tile-container .sd {
      background-color: #83e1d2; }
      .holocard .tile-container .sd img {
        display: block;
        margin: 30px auto; }
  .holocard .clone {
    moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    opacity: 0.6;
    margin-top: 2px;
    position: relative; }
    .holocard .clone::before {
      content: '';
      position: absolute;
      bottom: 11%;
      width: 100%;
      height: 25%;
      left: 0;
      opacity: 0.1;
      background-color: white; }
  .holocard .holacard-partial-container {
    position: absolute;
    height: 70%;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #e7e5e6; }
  .holocard article h2 {
    padding: 60px 15px; }

/*# sourceMappingURL=main.css.map */
